@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "/views/shared/_LayoutMvc.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login col-sm-12">
                <div class="text-center m-b-md">
                    <img width="300" src="/images/mbale_logo.jpg" alt="Mbale Logo" />
                    <div class="clear5"></div>
                    <h3>Reset PASSWORD</h3>
                </div>
                <div class="clear20"></div>

         

                <p>
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>





            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

