@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login col-sm-12">
                <div class="text-center m-b-md">
                    <img width="300" src="~/images/maglogo.jpg" alt=" Logo" />
                    <div class="clear5"></div>
                    <h3>FORGOT PASSWORD CONFIRMATION</h3>
                </div>
                <div class="clear20"></div>

                <p>
                    Please check your email(inbox or Junk/spam) folder for a reset link to reset your password.
                </p>



            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
